@model News.Areas.Admin.Models.EF.tin

@{
    ViewBag.Title = "Thêm bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Title{ Thêm bài viết}



@using (Html.BeginForm("Create", "News", FormMethod.Post, new { @id = "demo-form2", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })*
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TomTat, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })*
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.EditorFor(model => model.TomTat, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })*
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12 ckeditor", @id ="txtContent" } })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.urlHinh, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })*
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model=>model.urlHinh, new { @class = "form-control col-md-7 col-xs-12", @type="file"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idLT, "Mã thể loại", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownList("idTL", null, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idLT, "Mã loại tin", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownList("idLT", null, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnHien, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div id="gender" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    @Html.RadioButtonFor(model => model.AnHien, 0) Block
                </label>
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    @Html.RadioButtonFor(model => model.AnHien, 1) Active
                </label>
            </div>
        </div>
    </div>


    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button type="submit" class="btn btn-app"><i class="fa fa-plus"></i> Thêm</button>
            <button type="reset" class="btn btn-app"><i class="fa fa-undo"></i> Hủy bỏ</button>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back</a>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>